<a href="https://colab.research.google.com/github/Cmrau/SciRes-GDP-vs-Gini/blob/master/notebooks/1.0-InitialDataAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Initial Data Exploration of GDP dataset

In [8]:
import pandas as pd

In [9]:
GDP_csv_url = "https://raw.githubusercontent.com/Cmrau/SciRes-GDP-vs-Gini/master/data/raw/API_NY.GDP.MKTP.KD.ZG_DS2_en_csv_v2_1217525.csv"

In [10]:
pd.read_csv(GDP_csv_url)

     Country Name Country Code  ...      2019 Unnamed: 64
0           Aruba          ABW  ...       NaN         NaN
1     Afghanistan          AFG  ...  2.901229         NaN
2          Angola          AGO  ... -0.869394         NaN
3         Albania          ALB  ...  2.214063         NaN
4         Andorra          AND  ...  1.849238         NaN
..            ...          ...  ...       ...         ...
259        Kosovo          XKX  ...  4.171660         NaN
260   Yemen, Rep.          YEM  ...       NaN         NaN
261  South Africa          ZAF  ...  0.152583         NaN
262        Zambia          ZMB  ...  1.705793         NaN
263      Zimbabwe          ZWE  ... -8.100000         NaN

[264 rows x 65 columns]